form {
    width: 300px;
    margin: 0 auto;
  }
  
  body {
    color: rgb(219, 155, 155);
  }
.image {
    background-image: url('creditcard.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }